.navbar {
    background-color: #ff5722;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    color: white;
    margin: 0;
    font-size: 34px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: yellow;
}