.restaurant-card {

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 5px 20px rgba(0,0,0,0.08);

    transition:0.3s;

    cursor:pointer;

}


.restaurant-card:hover {

    transform:translateY(-8px);

    box-shadow:0 12px 30px rgba(0,0,0,0.15);

}





.image-container {

    position:relative;

    height:220px;

}



.restaurant-image {

    width:100%;

    height:100%;

    object-fit:cover;

}






/* Favorite button */

.favorite-icon {

    position:absolute;

    top:15px;

    right:15px;

    width:42px;

    height:42px;

    border-radius:50%;

    border:none;

    background:white;

    font-size:22px;

    cursor:pointer;

    box-shadow:0 3px 10px rgba(0,0,0,0.15);

}





/* Offer */

.offer-badge {

    position:absolute;

    bottom:15px;

    left:15px;

    background:#ff5722;

    color:white;

    padding:8px 15px;

    border-radius:20px;

    font-size:14px;

    font-weight:bold;

}







.restaurant-content {

    padding:20px;

}





.restaurant-content h2 {

    margin:0 0 10px;

    font-size:22px;

    color:#222;

}





.cuisine {

    color:#777;

    font-size:15px;

}





.info-row {

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin:18px 0;

    color:#555;

    font-size:15px;

}





.rating {

    background:#198754;

    color:white;

    padding:6px 12px;

    border-radius:8px;

    font-weight:bold;

}





.view-btn {

    width:100%;

    padding:13px;

    border:none;

    border-radius:12px;

    background:#ff5722;

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

}




.view-btn:hover {

    background:#e64a19;

}






@media(max-width:600px){


.image-container{

    height:200px;

}


.restaurant-content h2{

    font-size:20px;

}

}